/*  GOOGLE Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Variáveis CSS */
:root {
    --header-heigth: 6rem;

    /* Cores */

    /* Color mode HSL (Hue, saturation, Ligthness) */
    --first-color:  #4169E1;
    --second-color: hsl(0, 0%, 100%);
    ;
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 77%);
    --body-color: hsl(0, 0%, 6%);
    --container-color: hsl(0, 0%, 10%);
    --border-color: hsla(0, 0%, 100%, 0.2);

    /* Fontes e Tipografias */

    /* .5rem = 8px | 1rem = 16px */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Montserrat', sans-serif;

    --big-font-size: clamp(2rem, 0.9706rem + 4.7059vw, 4.5rem);
    ;
    --h1-font-size: clamp(1.75rem, 0.9265rem + 3.7647vw, 3.75rem);
    ;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.875rem;

    /* Font Weigth */
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-900: 900;

    /* Transição */
    --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

    /* Border Radios */
    --radios: 0.5rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsividade 1. */
@media screen and (max-width: 992px) {
    :root {
        --header-height: 5rem;

        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.9375rem;
        --smaller-font-size: 0.813rem;
    }
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: all 1.2s var(--transition);
}

input,
textarea,
body {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-300);
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p:not(.portifolio__description, .portifolio__subtitle, .section__description) {
    line-height: 1.67rem;
    text-align: justify;
}

img {
    max-width: 78%;
}

textarea,
input {
    background-color: transparent;
    border: none;
    outline: none;
}



/* Classes reutilizáveis */
.container {
    max-width: 1260px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}

.grid {
    display: grid;
    gap: 1.7rem;
}

.section {
    padding-block: 5rem;
}

.section__titulo {
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

.section__titulo:not(.sobre .section__titulo, .contato .section__titulo),
.section__description {
    text-align: center;
}

.section__description {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 3.75rem;
}

.btn {
    display: inline-block;
    color: var(--title-color);
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    padding: 1rem 2.5rem;
    border-radius: var(--radios);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--first-color);
    transform: scale(1.1);
}

/* Header e Nav */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    margin-top: 20px;
}

.nav,
.nav__list,
.nav__socials {
    display: flex;
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    align-items: center;
    justify-content: space-between;
    column-gap: 3.5rem;
}

.nav__link-btn {
    margin-top: 2px;
    /* Adapte o valor conforme necessário para obter o espaçamento desejado */
}

.nav__logo {
    color: var(--title-color);
    font-size: 2.3rem;
    font-weight: var(--weight-700);
}

.nav__logo span {
    color: var(--first-color);
}

.nav__list {
    column-gap: 2rem;
}

.nav__link,
.nav__social-link {
    font-size: var(--small-font-size);
    color: var(--title-color);
    transition: all 0.3s var(--transition);
}

.nav__link {
    font-weight: var(--weight-500);

}

.nav__socials {
    column-gap: 1.5rem;
    margin-left: auto;
}

.nav__social-link:hover {
    color: var(--first-color);
    transform: translateY(-0.25rem);
}

.nav__link-btn {
    font-size: var(--smaller-font-size);
    background-color: transparent;
    border-color: var(--border-color);
    padding: 0.625rem 1.25rem;
}

.nav__link-btn:hover {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--title-color);
}

.nav__toggle,
.nav__close {
    display: none;
}

/* Animação Link cabeçalho */

.active-link,
.nav__link:hover {
    color: var(--first-color);
    transition: all 1s var(--transition);
}

/* Alterar cabeçalho */
.scroll-header {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    animation: slide-down 0.7s;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translate(0);
    }
}

.scroll-header .nav {
    height: var(--header-height);
}

/* Home */
.home {
    padding-block: 16rem 9rem;
}

.home__container {
    grid-template-columns: 7fr 5fr;
    align-items: center;
}

.home__subtitle {
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    letter-spacing: 0.25rem;
    margin-bottom: 1.25rem;
    display: block;
}

.home__title {
    font-family: var(--second-font);
    font-size: var(--big-font-size);
    font-weight: var(--weight-900);
}

.home__title span {
    color: var(--first-color);
}

.home__img {
    width: 600px;
    height: 400px;
    border-radius: 75%;
    border: 0.80rem solid var(--container-color);
    margin-left: auto;
}


/* Sobre */
.sobre {
    background-color: var(--container-color);
}

.sobre__container {
    grid-template-columns: 8fr 10fr;
    align-items: center;
    column-gap: 4rem;
}

.sobre__img {
    width: 800px;
    height: 450px;
    border-radius: var(--radios);
}

.sobre__descricao {
    margin-bottom: 2rem;
}

.tabs__btns {
    display: flex;
    column-gap: 2.5rem;
    margin-bottom: 1.25rem;
}

.tabs__btn,
.tabs__description span:first-child {
    font-weight: var(--weight-500);
}

.tabs__btn {
    cursor: pointer;
    color: var(--title-color);
    position: relative;
    padding-bottom: 0.5rem;
}

.tabs__btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 1s var(--transition);
}

.tabs__data {
    row-gap: 1rem;
}

.tabs__description span:last-child {
    display: block;
}

.tabs__description a {
    text-decoration:underline;
    color: var(--text-color); 
}

/* Active tab */
.tabs__btn.tab__active {
    color: var(--first-color);
}

.tabs__btn.tab__active::after {
    background-color: var(--first-color);
    width: 100%;
}

.tabs__item[data-content] {
    display: none;
}

.tab__active[data-content] {
    display: block;
}

/* Serviços */
.serviços__container {
    grid-template-columns: repeat(3, 1fr);
}

.serviços__item {
    background-color: var(--container-color);
    padding: 3.5rem 2.5rem;
    border-radius: var(--radios);
}

.serviços__icon {
    color: var(--first-color);
    font-size: 6.2rem;
    line-height: 1;
}

.serviços__title {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-500);
    margin-block: 1.75rem 1.25rem;
}

.serviços__description {
    font-weight: var(--weight-400);
}

/* Projetos do github */
.portifolio {
    background-color: var(--container-color);
}

.portifolio__container {
    grid-template-columns: repeat(3, 1fr);
}

.portifolio__item {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: var(--radios);
    overflow: hidden;
}

.portifolio__item::after,
.portifolio__data {
    position: absolute;
    transition: all 1.5s var(--transition);
}

/*.portifolio__item::after {
    content: '';
    inset: 0;
    background: linear-gradient(180deg, transparent, var(--first-color));
    opacity: 0;
}*/

.portifolio__data {
    inset-inline: 2rem;
    bottom: 1.25rem;
    text-align: center;
    z-index: var(--z-tooltip);
}

.portifolio__img {
    overflow: hidden;
    background-size: cover;
    vertical-align: middle;
    border-radius: var(--radios);

}

.portifolio__subtitle,
.portifolio__description {
    color: var(--title-color);
    opacity: 0.7;
}

.portifolio__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
    align-items: center;
}

.portifolio__title {
    font-size: var(--h2-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 0.75rem;
}

.portifolio__description {
    font-weight: var(--weight-400);
    display: none;
}


/* Efeito no portifolio */
.portifolio__item:hover::after {
    opacity: 1;
    overflow: hidden;
}

.portifolio__item:hover .portifolio__img {
    transform: scale(1.2);
    transition: all 1s var(--transition);
}

.portifolio__item:hover .portifolio__description {
    display: block;
}

.portifolio__item:hover .portifolio__data {
    transform: translateY(-2rem);
}

/* Máscara */

/*.mascara-off {
    display: none;
}


.mascara-on {
    position: absolute;
    width: 78%;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--first-color));
    opacity: 0.5;
    border-radius: var(--radios);
    transition: all 0.8s var(--transition);
}//

/* Contato */
.contato__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.contato__description,
.contato__input {
    font-weight: var(--weight-400);
}

.contato__form-input input:focus,
.contato__form-input textarea:focus {
    border-color: var(--first-color);
}


.contato__description a {
    color: var(--title-color);
    font-weight: var(--weight-500);
}

.contato__form {
    position: relative;
}

.contato__input {
    border: 2px solid var(--border-color);
    padding: 0.8rem 1.25rem;
    width: 100%;
    border-radius: var(--radios);
    font-size: var(--smaller-font-size);
    margin-bottom: 1.25rem;
}

.textarea {
    height: 120px;
    resize: none;
}

.mensagem__erro {
    position: absolute;
    bottom: -12%;
    left: 0;
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
}

.color-first {
    color: var(--second-color);
}

/* Rodapé */
.footer {
    background-color: var(--container-color);
    padding-block: 2rem;
}

.footer__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.footer__logo {
    color: var(--title-color);
    font-size: 2.5rem;
    font-weight: var(--weight-700);
}

.footer__logo span {
    color: var(--first-color);
}

.footer__socials {
    display: flex;
    justify-content: center;
    column-gap: 0.75rem;
}

.footer__social-link {
    color: var(--text-color);
    font-size: var(--small-font-size);
    border: 2px solid var(--text-color);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 1s var(--transition);
}

.footer__social-link:hover {
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.footer__copyrigth {
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    justify-self: flex-end;
}

/* Scroll up */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--title-color);
    display: grid;
    place-items: center;
    z-index: var(--z-fixed);
    transition: all 0.5s var(--transition);
}

.scrollup__icon {
    color: var(--first-color);
    font-size: 2.25rem;
    line-height: 1;
}

/* Show scroll up */
.show-scroll {
    bottom: 3rem;
}

.contato_div {
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.img-gmail, .img-whatsapp {
    height: 32px;
    width: 50px;
}

/* BREAKPOINTS */
/* Media@ para cada tipo de tela */

/* Telas grandes*/
@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .nav__btns {
        display: none;
    }

    .home {
        padding-top: 11rem;
    }

    .home__container,
    .sobre__container {
        grid-template-columns: 1fr;
    }

    .home__container {
        row-gap: 2rem;
    }

    .home__content {
        order: 1;
    }

    .home__img,
    .sobre__img {
        margin-inline: auto;
    }

    .home__img,
    .sobre__img {
        border: 0.5rem solid var(--container-color);
        width: 380px;
        height: 380px;
    }

    .sobre__container {
        row-gap: 2.5rem;
    }

    .serviços__container,
    .portifolio__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contato__container {
        column-gap: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav {
        height: var(--header-height);
        column-gap: 1.25rem;
    }

    .nav__logo {
        font-size: 2rem;
    }

    .nav__btns,
    .nav__toggle,
    .nav__close {
        display: block;
    }

    .nav__link-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60vw;
        height: 100vh;
        background-color: var(--container-color);
        padding: 3.5rem;
        transition: all 1s var(--transition);
    }

    .show-menu {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 1.125rem;
    }

    .nav__close {
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .nav__socials {
        column-gap: 1rem;
    }

    .nav__toggle {
        font-size: var(--h2-font-size);
    }

    .nav__close,
    .nav__toggle {
        cursor: pointer;
    }

    .home {
        padding-top: 9rem;
    }

    .home__img {
        width: 340px;
        height: 350px;
    }

    .sobre__img {
        border: 0.5rem solid var(--container-color);
        width: 375px;
        height: 400px;
    }

    .serviços__icon {
        font-size: 2.5rem;
    }

    .serviços__title {
        margin-block: 1.5rem 1rem;
    }

    .contato__container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .contato__img {
        display: flex;
        position: center;
        margin: auto;
        width: 380px;
        height: 450px;
    }

    .contato__content {
        order: 1;
    }


    .contato__description {
        margin-bottom: 2rem;
    }

    .footer__social-link {
        font-size: var(--smaller-font-size);
        width: 36px;
        height: 36px;
    }

    .scrollup {
        width: 42px;
        height: 42px;
    }

    .scrollup__icon {
        font-size: 2rem;
    }
}

/* Telas medianas*/
@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .home__img {
        width: 280px;
        height: 280px;
    }

    .tabs__btns {
        flex-wrap: wrap;
        row-gap: 0.75rem;
        column-gap: 1.5rem;
    }

    .serviços__container,
    .portifolio__container,
    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__container {
        row-gap: 1.5rem;
        justify-items: center;
    }

    .footer__copyrigth {
        justify-self: center;
    }
}

@media screen and (max-width: 576px) {
    .nav__menu {
        width: 100vw;
        padding: 2.75rem;
    }

    .home__img {
        width: 270px;
        height: 265px;
    }

    .sobre__img {
        width: 305px;
        height: 320px;
    }

    .contato__img {
        width: 255px;
        height: 300px;
    }

    .serviços__item {
        padding: 2rem 1.5rem;
    }
}

/* Telas pequenas */
@media screen and (max-width: 350px) {
    .home__img {
        width: 240px;
        height: 240px;
    }

    .sobre__img {
        width: 180px;
        height: px;
    }

    .contato__img {
        width: 180px;
        height: 190px;
    }

    .tabs__description span:last-child {
        display: inline;
    }

    .portifolio__data {
        inset-inline: 1rem;
        bottom: 1rem;
    }
}